.widget{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    height: 100px;

    .left, .right{
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .title{
            font-weight: bold;
            font-size: 15px;
            color: rgb(155, 153, 149);
        }
        .counter{
            font-size: 30px;
            font-weight: 400;
        }
        .link{
            width: max-content;
            font-size: 12px;
            border-bottom: 1px solid black;
        }
        .percentage{
            display: flex;
            justify-content: center;
            font-size: 14px;
            .percentage-icon{
                font-size: 20px;
            }
            &.positive{
                color: green;
            }
            &.negative{
                color: red;

            }
        }
        .icon{
            display: flex;
            font-size: 18px;
            padding: 5px;
            border-radius: 5px;
            align-self: flex-end;
        }
    }
}