.navbar{
    height: 50px;
    border-bottom: 0.5px solid rgb(228, 223, 223);
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #555;

    .wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 20px;
        justify-content: space-between;

        .search{
            display: flex;
            align-items: center;
            border: 1px solid rgb(215, 208, 208);
            border-radius: 10px;
            padding: 5px;

            input{
                border: none;
                outline: none;
                background-color: transparent;

                &::placeholder{
                    font-size: 12px;
                }
            }
        }

        .items{
            display: flex;
            align-items: center;
            .item{
                display: flex;
                align-items: center;
                margin-right: 10px;
                .icon{
                    font-size: 20px;
                }
                .avatar{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }
        }
    }
}